<p><Strong>Station Name:</strong> <%= @station.name %></p>
<p><Strong>Address:</strong> <%= @station.address %></p>
<p><Strong>Fuel Type:</strong> EV Connectors <%= @station.connector_type.join(', ') %></p>
<p><Strong>Access Times:</strong> <%= @station.access_times %></p>
<br>
<p><Strong>Distance from <%= params[:location] %> (in miles):</strong> <%= @directions.distance %></p>
<p><Strong>Travel time from <%= params[:location] %> (in minutes):</strong> <%= @directions.time %></p>
<p><Strong>Directions from <%= params[:location] %>:</strong></p>
<% @directions.nav.each do |direct|%>
  <p><%= direct %></p>
  <% end %>
